<!-- Start People Module Bottom Add Button -->
<div class="cat__footer fab_menu">
  <!-- Start Floating container -->
    <div id="container-floating">
      <!-- Start Add Employee Button -->
      <div (click)="addNewEmployee();" *ngIf="addEmployee==true" class="nd5 nds" data-toggle="tooltip" data-placement="left" data-original-title="Employee" data-animation="false">
        <img class="reminder">
        <p class="icon_employee"  ></p>
      </div>
      <!-- End Add Employee Button -->

      <!-- Start Add Department Button -->
      <div (click)="addNewDepartment();" *ngIf="addDepartment==true" class="nd4 nds" data-toggle="tooltip" data-placement="left" data-original-title="Department" data-animation="false">
        <img class="reminder">
        <p class="icon_department"></p>
      </div>
      <!-- End Add Department Button -->

      <!-- Start Add Location Button -->
      <div (click)="addNewLocation();" *ngIf="addLocation==true" class="nd3 nds" data-toggle="tooltip" data-placement="left" data-original-title="Location" data-animation="false">
        <img class="reminder">
        <p class="icon_location"></p>
      </div>
      <!-- End Add Location Button -->

      <!-- Start Add Team Button -->
      <div (click)="addNewTeam();" *ngIf="addTeam==true" class="nd2 nds" data-toggle="tooltip" data-placement="left" data-original-title="Team" data-animation="false">
        <img class="reminder">
        <p class="icon_team"></p>
      </div>
      <!-- End Add Team Button -->

      <!-- Start Add Favorite Button -->
      <div (click)="addNewFavorite();" class="nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="Favorite" data-animation="false" >
        <img class="reminder">
        <p class="icon_favorite"></p>
      </div>
      <!-- End Add Favorite Button -->

      <!-- Start Add Icon Bottom Button -->
      <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" data-animation="false" >
        <p class="plus"><i class="fa plusicon"></i></p>
        <img class="edit" src="assets/modules/dummy-assets/common/img/icon/svg_icon/edit.svg" style="width: 26px;">
      </div>
      <!-- End Add Icon Bottom Button -->
    </div>
    <!-- End Floating container -->
</div>
<!-- End People Module Bottom Add Button -->

<!-- Start Task Module Bottom Add Task Button -->
<div class="cat__footer_task fab_menu">
    <div id="container-floating-task">
      <div id="floating-button-task" class="cat__menu-right14__action--menu-toggle" data-toggle="tooltip" data-placement="left" data-original-title="Add Tasks" data-animation="false">
        <p class="plus"><i class="fa plusicon"></i></p>
      </div>
    </div>
</div>
<!-- End Task Module Bottom Add Task Button -->

<!-- Start Task Module Bottom Add Widget Button -->
<div class="cat__footer_widget fab_menu">
    <div id="container-floating-widget">
      <div id="floating-button-widget" class="cat__menu-right-widget__action--menu-toggle" data-toggle="tooltip" data-placement="left" data-original-title="Add Widget" data-animation="false">
       <p class="plus"><i class="fa plusicon"></i></p>
      </div>
    </div>
</div>
<!-- End Task Module Bottom Add Widget Button -->